*.swp
EDCClient/cscope.out
EDCClient/EDCClient
EDCClient/show_screen
EDCClient/ptr_init
EDCClient/EDC.tgz
EDCClient/EDC/

EDCServer/EDCServer.v11.suo
EDCServer/EDCServer.suo
EDCServer/EDCServer/obj/*
EDCServer/EDCServer/bin/*


TestClient/TestClient/bin/
TestClient/TestClient/obj/
