*.swp
EDCServer/EDCServer/obj/*
EDCServer/EDCServer/bin/*
EDCClient/cscope.out
EDCClient/test.out
EDCClient/show_screen
EDCClient/ptr_init
EDCServer/EDCServer.v11.suo


TestClient/TestClient/bin/
TestClient/TestClient/obj/
