a.ch:link, a.ch:visited, a.chon:link, a.chon:visited
{
	display: block;
	float: left;
	position: relative;
	width: 100px;
	height: 26px;
	text-align: center;
	top: 7px;
	background: url(../image/tbg3.gif) no-repeat left top;
	padding: 4px 0 4px 0;
	color: #000;
	text-decoration: none;
	margin-right: 2px;
	font-size: 10pt;
	font-family: 新細明體;
}
a.chon:link, a.chon:visited
{
	color: #FFF;
	font-weight: bold;
	cursor: default;
	background: url(../image/tbg2.gif) no-repeat left top;
}
