<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="ConDB" value="server=MACXP\DB2K5;database=EDCWEB;uid=sa;pwd=wood;" />
    <add key="TopId" value="admin" />
    <add key="TopPwd" value="edc@edc" />
  </appSettings>
</configuration>
